<div>
	<h1>You matched with {{vidInfo.initiatorUserName}}!</h1>
	<h3>Would you like to start a video chat?</h3>
	<button id="requestVideoBtn">Yes</button>
	<button id="cancelVideoBtn">No</button>
</div>