/********************Global CSS**********************/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

video {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}


/*************index.handlebars specific CSS*************/
.landing-page-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: arial;
}

#main-title {
	/*color: rgba(255,20,147, 1);*/
	font-size: 120px;
	letter-spacing: 11px;


	/*style one*/
/*	-webkit-text-fill-color: rgba(255,20,147, 1);
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(0,0,0,0.2);
	text-shadow: 1px 1px 20px rgba(0,0,0, 0.5),
				 2px 2px 0px rgba(100,250,250, 0.9), 
				 3px 3px 0px rgba(100,250,250, 0.9), 
				 4px 4px 0px rgba(100,250,250, 0.9), 
				 5px 5px 0px rgba(100,250,250, 0.9),
				 6px 6px 0px rgba(100,250,250, 0.9), 
				 7px 7px 0px rgba(100,250,250, 0.9), 
				 8px 8px 0px rgba(100,250,250, 0.9), 
				 9px 9px 0px rgba(100,250,250, 0.9),  
				 10px 10px 10px rgba(0,0,0, 0.9);*/


	
	/*style two*/
	-webkit-text-fill-color: rgba(255,255,255, 1);
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(0,0,0,0.3);
	text-shadow: 1px 1px 20px rgba(0,0,0, 0.5),
				 2px 2px 0px rgba(100,250,250, 0.9), 
				 3px 3px 0px rgba(100,250,250, 0.9), 
				 4px 4px 0px rgba(100,250,250, 0.9), 
				 5px 5px 0px rgba(100,250,250, 0.9),
				 6px 6px 0px rgba(100,250,250, 0.9), 
				 7px 7px 0px rgba(100,250,250, 0.9), 
				 8px 8px 0px rgba(100,250,250, 0.9), 
				 9px 9px 0px rgba(100,250,250, 0.9),  
				 10px 10px 10px rgba(0,0,0, 0.9);



	/*style three*/
/*	-webkit-text-fill-color: rgba(100,250,250, 0.9);
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(255,255,255,0.8);
	text-shadow: 1px 1px 20px rgba(0,0,0, 0.5),
				 2px 2px 0px rgba(255,20,147, 0.9), 
				 3px 3px 0px rgba(255,20,147, 0.9), 
				 4px 4px 0px rgba(255,20,147, 0.9), 
				 5px 5px 0px rgba(255,20,147, 0.9),
				 6px 6px 0px rgba(255,20,147, 0.9), 
				 7px 7px 0px rgba(255,20,147, 0.9), 
				 8px 8px 0px rgba(255,20,147, 0.9), 
				 9px 9px 0px rgba(255,20,147, 0.9),  
				 10px 10px 10px rgba(0,0,0, 0.9);
*/


	/*style four*/
/*	-webkit-text-fill-color: rgba(255,255,255,1);
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(100,250,250, 0.8);
	text-shadow: 1px 1px 20px rgba(0,0,0, 0.5),
				 2px 2px 0px rgba(255,20,147, 0.9), 
				 3px 3px 0px rgba(255,20,147, 0.9), 
				 4px 4px 0px rgba(255,20,147, 0.9), 
				 5px 5px 0px rgba(255,20,147, 0.9),
				 6px 6px 0px rgba(255,20,147, 0.9), 
				 7px 7px 0px rgba(255,20,147, 0.9), 
				 8px 8px 0px rgba(255,20,147, 0.9), 
				 9px 9px 0px rgba(255,20,147, 0.9),  
				 10px 10px 10px rgba(0,0,0, 0.9);
*/


	font-family: 'Leckerli One', cursive;
	margin-bottom: 20px;
	transform: rotate(-5deg);
	font-style: italic;;
}

#sign-in {
	border: 3px solid white;
	padding: 20px 50px;
	color: white;
	border-radius: 40px;
	font-size: 30px;
	width: 120px;
	margin: 20px auto;
	cursor: pointer;
	font-weight: bold;
}

#create-account {
	color: white;
	font-size: 18px;
}


/****************generic modal CSS****************/

.modal {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	user-select: none;
	font-family: arial;
}

.modal-content {
	color: white;
	margin: 5% auto;
	width: 50%;
	min-height: 70%;
	background: black;
	position: relative;
	border-radius: 10px;
	text-align: center;
	border:10px solid white;
}

.close {
	position: absolute;
	right: 3%;
	top: 4%;
}

.close:hover {
	cursor: pointer;
}

.submit-button {
	border: 2px solid white;
	color: white;
	background: none;
	border-radius: 20px;
	padding: 5px 40px;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0px 10px 5px -12px rgba(255,255,255,1);
	transition: all 300ms ease;
}

.submit-button:hover {
	transform: translate(-50%, -5px) scale(1.1);
	box-shadow: 0px 15px 26px -14px rgba(255,255,255,0.8);
}

.modal-content input[type="radio"] {
	background: green;
	height: auto;
	width: auto;
}

.centered {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.text-input {
	outline: white;
	color: white;
	border: none;
	background: black;
	height: 20px;
	transition: border 500ms ease;
	font-size: 20px;
	border-bottom: 1px solid white;
	width: 50%;
}

.text-input:focus {
	border-bottom-width: 4px;
}

.text-input::-webkit-input-placeholder{
	color:white;
	font-size: 15px;
}


/*********************sign-in-modal CSS***********************/

#username {
	top: 30%;
}

#password {
	top: 40%;
}

#login-submit {
	top: 60%;
}

/*******************create-account-modal CSS******************/

.radio-label {
	display:inline-block;
}

#create-submit {
	top: 90%;
}

textarea#create-bio {
	top: 70%;
	outline: white;
	color: white;
	border: none;
	background: black;
	transition: border 500ms ease;
	font-size: 20px;
	border-bottom: 1px solid white;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: arial;
}

#create-bio:focus {
	border-bottom-width: 4px;
}

#create-bio::-webkit-input-placeholder{
	color:white;
	font-size: 15px;
}

#create-img {
	top: 60%;
}
.seeking-wrapper {
	top: 50%;
}

.gender-wrapper {
	top: 40%;
}

#create-password2 {
	top: 32%;
}

#create-password {
	top: 24%;
}

#create-age {
	top: 17%;
}

#create-username {
	top: 10%;
}


/*******************update account modal*******************/

#update-account-modal {
	/*height: 100%;*/
}

#update-age {
	top: 15%;
}

.update-gender-wrapper {
	top: 20%;
}

.update-seeking-wrapper{
	top: 30%;
}

#update-img {
	top: 45%;
}

textarea#update-bio {
	top: 55%;
	outline: white;
	color: white;
	border: none;
	background: black;
	transition: border 500ms ease;
	font-size: 20px;
	border-bottom: 1px solid white;
	width: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: arial;
}

#update-bio:focus {
	border-bottom-width: 4px;
}

#update-bio::-webkit-input-placeholder{
	color:white;
	font-size: 15px;
}

#update-password {
	top: 80%;
}

#update-submit {
	top: 90%;
}

/*****************userView.handlebars CSS*****************/

.userView-container {
	height: 100%;
	width: 100%;
	background-image: url('/assets/img/user-background.png');
	background-attachment: fixed;
	background-size: 100%;
	font-family: arial;
}

header {
	height: 10vh;
	width: 100%;
	background-image: url('/assets/img/header.jpg');
	background-size: 100%;
	border-bottom: 5px solid #777;
}

img.logo {
	position: absolute;
	left: 3vh;
	top: 1.5vh;
	height: 50px;
	border: 4px solid white;
}

#userGreeting {
	color: white;
	margin:0;
	margin-left:100px;
	padding: 20px;
}


.navItem {
	cursor: pointer;
	font-weight: bold;
}

nav ul {
	list-style: none;
	color: white;
	font-size: 20px;
	padding:0;
	margin:0;
	position: absolute;
	right: 3vh;
	top: 3vh;
}

nav ul li {
	display: inline;
	margin: 0 10px;
}

footer {
	height: 5vh;
	width: 100%;
	/*background: rgba(100,250,250, 1);*/
	background-image: url('/assets/img/header.jpg');
	background-size: 100%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	border-top: 5px solid #777;
}

/*********************image stack CSS*********************/

.userTile {
	top: 18%;
	/*border: 1px solid black;*/
	padding: 0 20px 20px;
	width: 30%;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	background: rgba(255,255,255,0.8);
}

.choose {
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 50%;
	color: white;
	outline: none;
	cursor: pointer;
}

[data-swipe="true"] {
	background: green;
	float: right;
	margin-right: 20%;
	opacity: 1;
}

[data-swipe="false"] {
	background: red;
	margin-left: 20%;
	opacity: 1;
}

.userBio {
	text-align: center;
	font-size: 18px;
}

.tileTitle {
	text-align: center;
	color: #777;
}

.imgContainer {
	height: 20vw;
	width: 20vw;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 10px;
}

.userImage {
	display: block;
	max-height: 300px;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 10px;
}

.noMore {
	top: 18%;
	border: 1px solid black;
	padding: 0 20px 20px;
	width: 30%;

}

.noMoreText {
	text-align: center;
}


/*********************Chat window CSS*********************/


.ui-accordion .ui-accordion-content {
	padding: 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	/*background: #777;*/
	background-image: url('/assets/img/header.jpg');
	outline: none;
}

.chat-accordion {
	width: 15%;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}

.chatUser {
	cursor: pointer;
	margin-left: 15px;

}
/*
.chatUser:after:hover {

}*/

.chatUser:after {
	content: '';
	width: 0%;
	height: 20px;
	position: absolute;
	left:0%;
	border-bottom: 3px solid lightblue;
	transition: width 300ms ease;
	margin: 0 auto;
	display: inline;
}

.chatUser:hover:after{
	width: 100%;
}


.remove {
	position: absolute;
	right: 10px;
}

.chatBox {
	height: 100%;
	overflow-x: hidden;;;;
}

.msgWindow {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 15px;
	color: white;
}

.chatInput {
	width: 100%;
	height: 30px;
	margin:0;
	margin-bottom: 10px;
	padding:0;
	border-left: none;
	border-right: none;
	border-bottom: none;
	outline: none;
}

.bubble-left {
	float:left;
	clear: both;
	display: inline-block;
	margin:0;
	margin-bottom: 5px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: rgb(255,255,153);
	border-radius: 10px 10px 10px 0px; 
	position: relative;  
	color: #777777;
}

.bubble-left:after {
  content: '';
  position: absolute;
  height:20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}

.bubble-left:before {
	content: '';
	position: absolute;
	height: 0px;
	width: 0px;
	border: 10px solid black;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: rgb(255,255,153);
	border-left-color: transparent;
	left: 0;
	transform: translateX(-50%);
	bottom:0;
}

.bubble-right {
	color: #777;
	float:right;
	clear: both;
	display: inline-block;
	margin:0;
	margin-bottom: 5px;
	padding: 10px;
	background-color: lightblue;
	border-radius: 10px 0px 10px 10px; 
	position: relative;
}

.bubble-right:after {
	content: '';
	position: absolute;
	height:20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	right: 0;
	top: 0;
	transform: translateX(100%);
}

.bubble-right:before {
	content: '';
	position: absolute;
	height: 0px;
	width: 0px;
	border: 10px solid black;
	border-top-color: lightblue;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	right: 0;
	transform: translateX(50%);
	top:0;
}

/*******************connect bubble CSS*******************/


#connectBubble{
	height: 100px;
	width: 300px;
	background: #777;
	text-align: center;
	line-height: 100px;
	position: absolute;
	border-radius: 10px;
	z-index: 200;
	right: 15%;
	display: none;
}

#connectBubble:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: #777;
	border-left-color: transparent;
	transform: translateX(50%);
}


.chat-button {
	background: lightblue;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	display: inline;
	
}

/******************Swiped-container CSS******************/

/*commented out in case we want to utilize in the future*/
/*
#swiped-container {
	height: 100vh;
	width: 20%;
	border-right: 1px solid black;
	box-sizing: border-box;
}

.swiped-user {
	width: 100%;
	height: 50px;
	border: 1px solid black;
	position: relative;
	box-sizing: border-box;
	border-right: none;
}

.swiped-user img {
	height: 50px;
	vertical-align:middle;
}

.swiped-userName {
	line-height:  50px;
	vertical-align:middle;
	display: inline;
	margin-left: 25px;
}

.viewAgain {
	height: 100%;
	float: right;
	background-color: rgba(100,250,250, 0.8);
	border: none;
	color: white;
	cursor: pointer;
	font-size: 15px;
}

.modal-body .userTile {
	width: 50%;
	top: 5%;
}

#left {
	float: left;
	margin-left: 10%;
}

#right {
margin-right: 10%;
}

